
.container {
  padding: 1rem;
}

.loading-text,
.empty-text {
  text-align: center;
  color: #6b7280;
  font-size: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

}

@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .comtainer{
    width: 98%;
  }
  
  .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}

.card {
  outline: 0.5px solid #000000;
  padding: 1rem;
  text-align: center;
  color: #000000;
  cursor: pointer;
  background-color: #fff;
  transition: background 0.3s, color 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:hover {
  color: white;
  background: #000000;
}

.image {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin-bottom: 1rem;
}

.text-container {
  width: 100%;
  text-align: left;
}

.brand {
  font-size: 0.75rem; 
  margin-bottom: 0.25rem;
  color:#6b7280;
  text-transform: uppercase;
}

.title {
  font-size: 0.75rem; 
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  text-transform: uppercase;
}

.name {
  font-size: 0.75rem; 
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: larger;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.button {
  padding: 0.5rem 1rem;
  background: #000000;
  color: white;
  border: none;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.button:hover {
  background: #282829;
}

.button:disabled {
  background: #d1d5db;
  opacity: 0.5;
  cursor: not-allowed;
}