.search-container {
  margin-bottom: 2rem;
}

.search-input {
  width: 100%;
  padding-bottom: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid #000000;
  background-color: white;
  color:#6b7280
}

.search-input:focus {
  outline: none;
}

.results-count {
  margin-top: 0.5rem;
  font-size: 1rem; /* text-sm */
  color: #000000; /* gray-500 */
}

.loading-text {
  text-align: center;
  color: #6b7280; /* gray-500 */
}

.error-text {
  text-align: center;
  color: #ef4444; /* red-500 */
}

.empty-text {
  text-align: center;
  color: #6b7280; /* gray-500 */
}

@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(2, 1fr); /* sm:grid-cols-2 */
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(5, 1fr); /* lg:grid-cols-5 */
  }
}
