.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: white;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  overflow: hidden; /* Para contener la barra de carga */
}

.navbar-image {
  cursor: pointer;
  font-size: 1.5rem;
  position: relative;
}

.home-icon {
  width: 120px;
  height: auto;
  object-fit: contain;
}

.cart-badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #ef4444; /* Rojo */
  color: white;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
}

.cart-icon {
  font-size: 24px; /* Tamaño del ícono SlBag */
  color: #000000; /* Color del ícono, ajustable */
}

.cart-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent; /* Rojo para el badge */
  color: black;
  border-radius: 50%;
  padding: 1.8rem 0.5rem;
  font-size: 1rem;
  min-width: 1rem;
  height: 1rem;
}

.loading-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px; /* Muy delgada */
  background-color: #3b82f6; /* Azul */
  animation: loading 2s infinite linear; /* Animación opcional */
}

/* Animación opcional para la barra */
@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

/* Responsividad */
@media (max-width: 640px) {
  .navbar {
    padding: 0.5rem;
  }

  .navbar-icon {
    font-size: 1.25rem;
  }
}
